{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static "styles/bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static "styles/style.css" %}">
    <script src="https://kit.fontawesome.com/yourcode.js" crossorigin="anonymous"></script>
    
</head>
<body>
    <i class="bi bi-pencil-square"></i>
    <nav class="px-5 py-3 navbar navbar-expand-lg navbar-light ">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">Todo</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse  justify-content-end" id="navbarSupportedContent">
                <div class="d-flex">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="btn btn-warning" href="accounts/logout">Log Out</a>
                    </li>
                {% else %} 
                    <li class="nav-item">
                        <a class="btn btn-dark m-2" aria-current="page" href="{% url 'login' %}">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="btn btn-dark m-2" href="{% url 'register' %}">Sign Up</a>
                    </li>
                {% endif %}
                </div>
            </ul>            
          </div>
        </div>
    </nav>
      
    <div class="container mt-5"> <!-- Main App Goes Inside This Container-->
        <div class="row d-flex align-items-center justify-content-center">
            <div class="col-10 col-md-8 col-lg-6 align-middle p-3" id="app-box">
                {% block content %}
                
                {% endblock content %}
                <script src="{% static "js/bootstrap.min.js" %}"></script>
            </div>
        </div>
      </div>

      
    
</body>
</html>