{% extends "base.html" %}
    {% block content %}
        {% if user.is_authenticated %}
            <h2 class="text-center border-bottom border-warning pb-3">Greetings {{ request.user.first_name  }}</h2>
            <div class="d-flex justify-content-between pb-2">
                <h4 class="text-center mt-2 mb-0">Todos</h4>
                <a href="create_todo" class="btn btn-warning btn-sm pt-2">Add Task</a>
            </div>
            
        <ul class="list-group list-group-flush">
            {% for task in tasks %}
                {% if not task.is_Task_Completed %}
                    <a href="view_todo?id={{task.id}}" class="text-decoration-none">
                        <li class="list-group-item todo-item d-flex justify-content-between">{{task.title}} 
                            <span class=" ">
                             <button class="btn btn-sm btn-warning">Edit</button>
                             <button class="btn btn-sm btn-warning">Complete</button>
                            </span>
                        </li>
                     </a>
                {% endif %}
            {% endfor %}
        </ul>
        <ul class="list-group list-group-flush">
            {% for task in tasks %}
                {% if task.is_Task_Completed %}
                    <a href="view_todo?id={{task.id}}" class="text-decoration-none">
                        <li class="list-group-item todo-item d-flex justify-content-between"><del>{{task.title}}</del>
                        <span class=" ">
                            <button class="btn btn-sm btn-warning">Edit</button>
                            <button class="btn btn-sm btn-warning">Complete</button>
                        </span>
                        </li>
                    </a>
                {% endif %}
            {% endfor %}
        </ul>
        {% else %}
            <h2 class="text-center border-bottom border-warning pb-3">Please Login To Access Your ToDos</h2>
        {% endif %}
    {% endblock content %}