{% extends "base.html" %}
    {% block content %}
        {% if user.is_authenticated %}
            <h2 class="text-center border-bottom border-warning pb-3">Greetings {{ request.user.first_name  }}</h2>
            <div class="d-flex justify-content-between pb-2">
                <h4 class="text-center mt-2 mb-0">Todos</h4>
                <a class="btn btn-warning btn-sm pt-2">Add Task</a>
            </div>
            
        <ul class="list-group list-group-flush">
            {% for task in tasks %}
                {% if not task.is_Task_Completed %}
                    <a href="#" class="text-decoration-none"><li class="list-group-item todo-item">{{task.title}}</li></a>
                {% endif %}
            {% endfor %}
        </ul>
        <ul class="list-group list-group-flush">
            {% for task in tasks %}
                {% if task.is_Task_Completed %}
                    <a href="#" class="text-decoration-none"><li class="list-group-item todo-item"><del>{{task.title}}</del></li></a>
                {% endif %}
            {% endfor %}
        </ul>
        {% else %}
            <h2 class="text-center border-bottom border-warning pb-3">Please Login To Access Your Data</h2>
        {% endif %}
    {% endblock content %}