body{
    font-family: montserrat;
    color: rgb(35, 35, 35);
  
}
body > nav{
    background-color: #fdf9e3 !important;
}

#app-box{
    background-color: #fdf9e3;
}

.todo-item{
    border: 1px solid rgba(255, 246, 192, 0.9) !important;
}

input[type=text], input[type=email], input[type=password]{
    background-color: #fffef9 !important;
}


.todo-list-link-text{
    color: #212529 !important;
}

.edit-icon, .delete-icon, .complete-icon, .restart-icon{
    text-decoration: none !important;
}
.edit-icon{
    color:rgb(102, 102, 243);
}
.complete-icon{
    color:rgb(44, 188, 44);
}
.delete-icon{
    color:rgb(206, 43, 43);
}
.restart-icon{
    color:rgb(102, 102, 243);
}
a.my1{
    text-decoration: none !important;
}

